@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply min-h-screen bg-gray-100 dark:bg-gray-900 dark:text-gray-200;
	}
	.custom-focus {
		@apply focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-fuchsia-700 focus:ring-offset-0 dark:focus:border-gray-950;
	}
	.card {
		@apply flex w-full flex-col gap-4;
	}
	.input {
		@apply custom-focus rounded-2xl border-2 border-gray-300 dark:border-gray-950 dark:bg-gray-800 dark:active:bg-gray-800;
	}
	.input-error {
		@apply border-red-600 bg-red-100 dark:border-red-600 dark:bg-red-950;
	}
	.button {
		@apply custom-focus inline-flex items-center gap-2 rounded-2xl border-2 border-gray-300 px-4 py-2 hover:border-fuchsia-700 dark:border-gray-800 dark:hover:border-fuchsia-700;
	}
	.button-borderless {
		@apply custom-focus inline-flex items-center gap-2 rounded-2xl border-2 border-transparent px-3 py-2 hover:border-fuchsia-700 dark:border-transparent dark:hover:border-fuchsia-700;
	}
	.link {
		@apply custom-focus rounded-md hover:text-fuchsia-700;
	}
}

.ringIco {
	--uib-size: 40px;
	--uib-speed: 2s;
	--uib-color: #86198f;
	vertical-align: middle;
	transform-origin: center;
	animation: rotate var(--uib-speed) linear infinite;
	width: var(--uib-size);

	height: var(--uib-size);
}

.ringIco circle {
	fill: none;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes stretch {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dashoffset: -124px;
	}
}

.prose {
	max-width: 96ch;
}

.prose .divider {
	height: 1.5rem;
}
