@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-background: 231 229 228;
		--color-content: 23 23 23;
		--color-gray: 212 212 212;
		--color-gray-light: 234 234 234;
		--color-accent-1: 162 28 175;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--color-background: 23 23 23;
			--color-content: 231 229 228;
			--color-gray: 41 37 36;
			--color-gray-light: 42 42 42;
			--color-accent-1: 162 28 175;
		}
	}

	:root[data-theme='light'] {
		--color-background: 231 229 228;
		--color-content: 23 23 23;
		--color-gray: 212 212 212;
		--color-gray-light: 234 234 234;
		--color-accent-1: 162 28 175;
	}

	:root[data-theme='dark'] {
		--color-background: 23 23 23;
		--color-content: 231 229 228;
		--color-gray: 41 37 36;
		--color-gray-light: 42 42 42;
		--color-accent-1: 162 28 175;
	}

	body {
		@apply bg-background text-content min-h-screen;
	}
	.custom-focus {
		@apply focus:border-gray focus:ring-accent-1 focus:outline-none focus:ring-2 focus:ring-offset-0;
	}
	.card {
		@apply flex w-full flex-col gap-4;
	}
	.input {
		@apply custom-focus border-gray bg-gray-light rounded-2xl border-2;
	}
	.input-error {
		@apply border-red-600 bg-red-100 dark:border-red-600 dark:bg-red-950;
	}
	.button {
		@apply custom-focus border-gray hover:border-accent-1 inline-flex items-center gap-2 rounded-2xl border-2 px-4 py-2;
	}
	.button-borderless {
		@apply custom-focus hover:border-accent-1 inline-flex items-center gap-2 rounded-2xl border-2 border-transparent px-3 py-2;
	}
	.link {
		@apply custom-focus hover:text-accent-1 rounded-md;
	}
}

/* for light theme active switch */
:root[data-theme='light'] .theme-light {
	@apply text-content;
}

/* for dark theme active switch */
:root[data-theme='dark'] .theme-dark {
	@apply text-content;
}

.ringIco {
	--uib-size: 40px;
	--uib-speed: 2s;
	--uib-color: #86198f;
	vertical-align: middle;
	transform-origin: center;
	animation: rotate var(--uib-speed) linear infinite;
	width: var(--uib-size);

	height: var(--uib-size);
}

.ringIco circle {
	fill: none;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes stretch {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dashoffset: -124px;
	}
}

.prose {
	max-width: 96ch;
}

.prose .divider {
	height: 1.5rem;
}
